body {
    padding: 0; margin: 0;
}
.w3-btn-floating {
    text-decoration: none !important;
    position: fixed !important;
    top: 90%;
    left: 95%;
    vertical-align: middle !important;
}
.w3-btn-floating-large {
    text-decoration: none !important;
    position: fixed !important;
    top: 88%;
    left: 78%;
    vertical-align: middle !important;
}
.card-description {
	/*margin-top: 10px;
}
.w3-half{
	margin-bottom: 20px;*/
}
.w3-opennav {
	position: fixed;
	top: 1.5%;
	left: 4%;
	/*margin-left: 2%;*/
}
.mobile-header {
	position: fixed;
	top: 0%;
	left: 0%;
	height: 10% !important;
	min-height: 3em !important;
	opacity: 0.9;
	width: 100%;
	vertical-align: middle;
}
.w3-bar-item {
	height: 40px !important;
}
.w3-sidenav {
	background-color: #f1f1f1 !important;
	width: 200px;
}
@media (max-width:992px) and (min-width:601px){
	.w3-w3-button-floating {
		top: 93% !important;
		left: 93% !important;
	}
}
i {
	vertical-align: middle !important;
}
img {
	max-height: 300px;
}
#my-header {
	font-size: 64px !important;
	padding-top: 0.8em !important; 
	padding-bottom: 0.8em !important;
	margin: 0 0 0 0;
	text-shadow: 0 5px 10px black;
}