body {padding: 0; margin: 0;}
/* Back-to-top-button */
.w3-btn-floating {
    text-decoration: none !important;
    position: fixed !important;
    top: 90%;
    left: 95%;
    vertical-align: middle !important;
}
.w3-btn-floating-large {
    text-decoration: none !important;
    position: fixed !important;
    top: 88%;
    left: 78%;
    vertical-align: middle !important;
}
.w3-btn-floating-icon {
    padding: 0 0 5px 0 !important;
}
@media (max-width:992px) and (min-width:601px){
    .w3-w3-button-floating {
        top: 93% !important;
        left: 93% !important;
    }
}
/* Center icons */
i.material-icons {
    vertical-align: middle !important;
    padding-right: 3px;
}
/* Max image heights */
img {
    max-height: 300px;
}
img.px500 {
    max-height: 500px !important;
}
/* Header */
.header {
    padding-top: 0.8em !important; 
    padding-bottom: 0.8em !important;
    margin: 0 0 0 0;
    text-shadow: 0 5px 10px black;
}
#header {
    font-size: 64px !important;
}
/* FONTS */
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif
}
/* Apply "Google-font" */
.w3-bar,button,header {
    font-family: "Montserrat", sans-serif
}
.w3-main {
    padding-top: 50px !important;
}
/* TOOLTIPS */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 3px;
}
/* vertical-middle text */
.vert-center {
    vertical-align: middle !important;
}
/* Other way for <b> or <strong> */
.w3-bold {
    font-weight: bold;
}
/* Center objects */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Activate Click-Mouse Pointer */
.pointer {
    cursor: pointer;
}
/* Material Design Ripple-Effect (not working) */
.ripple{
    display:block;
    float:left;
    width:49.6%;
    margin:0.2%;
    height:250px;
    line-height:250px;
    text-align:center;
    color:#000;
    text-decoration:none;
    position:relative;
    overflow:hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index:0;
}

.ripple:hover{
    z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

.ink {
    display: block;
    position: absolute;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
}

.animate {
    -webkit-animation:ripple 0.65s linear;
    -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
    -o-animation:ripple 0.65s linear;
    animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

:focus {
    outline: 0;
} /* SAFARI */

/* FIREFOX + OPERA
es reicht eine Definition des Backgrounds oder der Border aus um die blaue Outline zu entfernen */
input,
button,
textarea {
        background: #fff;
        border: 1px solid #000;
}